.calculation-section{
    background-color: #f8f8f8;
}
input:focus{
    outline: none;
}
input#rent-input {
    margin-left: 26px !important;
}
input#food-input {
    margin-left: 24px !important;
}
input#income-input {
    margin-left: 7px !important;
}